@charset 'utf-8';

@import "_reset";
@import "_variables";

body {
    .mainVisual {
        position: relative;
        background-image: url('../images/mainVisual_sp.png');
        background-repeat: no-repeat;
        background-size: contain;
        aspect-ratio: 390 / 450;
        @include mq($pc) {
            background-image: url('../images/mainVisual_pc.png');
            background-size: cover;
            aspect-ratio: 1500 / 720;
        }
        &__container {
            margin: 0 auto;
            @include mq($pc) {
                max-width: 1200px;
                margin: 0 auto;
            }
        }
        &__title {
            margin: 0 auto;
            font-family: Marcellus;
            font-weight: normal;
            font-size: 1.5rem;
            letter-spacing: 0.2em;
            text-align: center;
            color: #000;
            padding-top: 5.3vw;
            @include mq($pc) {
                font-size: 1.875rem;
                padding-top: 1.8vw;
                letter-spacing: 0.15em;
            }
        }
        &__productName {
            margin: 0 auto;
            font-family: Marcellus;
            font-weight: normal;
            font-size: 2.5625rem;
            letter-spacing: 0.3em;
            color: #000;
            padding-left: 5.6vw;
            // line-height: 47px;
            line-height: 12vw;
            padding-top: 93.8vw;
            @include mq($pc) {
                max-width: 1200px;
                font-size: 3.125rem;
                line-height: 63.5px;
                padding-top: 13.4vw;
                padding-left: 4.7vw;
            }
        }
        &__productName-serif {
            width: 74.8vw;
            padding-top: 0.7vw;
            padding-left: 0.2vw;
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 1.25rem;
            letter-spacing: 0.3em;
            color: #000;
            @include mq($pc) {
                max-width: 1200px;
                font-size: 1.5625rem;
                padding-top: 0;
            }
        }
    }

    .purchase {
        text-align: center;
        margin: 0 auto;
        position: relative;
        @include mq($pc) {
            display: flex;
            text-align: left;
        }
        &__container { 
            width: 91.7vw;
            background-color: #F0F4FF;
            margin: 10.7vw auto 12.8vw;
            padding: 5.1vw 7.6vw 3vw;
            @include mq($pc) {
                max-width: 1000px;
                display: flex;
                justify-content: space-between;
                margin: 3.2vw auto;
                padding: 0;
            }
        }
        &__contents {
            @include mq($pc) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 2vw;
            }
        }
        &__title {
            font-family: "Noto Serif JP";
            font-weight: 600;
            font-size: 1.125rem;
            letter-spacing: 0.1em;
            color: #111;
            @include mq($pc) {
                font-family: "Noto Serif JP";
                font-size: 1.5rem;
                text-align: left;
                padding-left: 1.0625rem;

            }
        }
        &__price {
            font-family: "Noto Serif JP";
            font-size: 0.875rem;
            letter-spacing: 0.1em;
            color: #111;
            padding-top: 0.4375rem;
            @include mq($pc) {
                font-size: 1rem;
                padding-left: 1.0625rem;
                padding-top: 0.625rem;
            }
        }
        &__list {
            @include mq($pc) {
                width: 47vw;
                display: flex;
                padding-top: 0.4vw;
                padding-bottom: 2.8vw;
            }
        }
        &__item {
            display: flex;
            width: 76.9vw;
            height: 14.6vw;
            border-radius: 7.4vw;
            margin: 5.6vw auto;
            justify-content: center;
            font-family: "Noto Serif JP";
            font-weight: 600;
            font-size: 1.125rem;
            color: #fff;
            white-space: nowrap;
            align-items: center;
            @include mq($pc) {
                width: 20vw;
                height: 3.8vw;
                margin: 0;
                margin-top: 2.7vw;
                margin-left: 1.7vw;
            }
        }  
        &__item:last-child {
            @include mq($pc) {
                padding-left: 0.8vw;
                margin-right: 54px;
                margin-left: 34px;
            }
        }  
        &__item-blue {
            background-color: #46C4DB;
        }  
        &__item-green {
            background-color: #5DD5AB;
        }  
    }

    .product {
        background-image: url(../images/product.png);
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 390 / 680;
        @include mq($pc) {
            position: relative;
            background-image: url(../images/product_pc.png);
            aspect-ratio: 1500 / 550;
        }
        &__container {
            width: 91.7vw;
            margin: 0 auto;
            @include mq($pc) {
                position: absolute;
                width: 44.1vw;
                top: 9vw;
                left: 55.2vw;
            }
        }
        &__title {
            font-family: "EB Garamond";
            font-weight: bold;
            font-size: 1.875rem;
            line-height: 1.875rem;
            text-align: center;
            color: #fff;
            padding-top: 13.5vw;
            @include mq($pc) {
                font-size: 2.375rem;
                line-height: 2.375rem;
                text-align: left;
                color: #fff;
                padding-top: 0;
                
            }
        }
        &__titleSerif {
            font-family: "Noto Serif JP";
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            color: #fff;
            padding-top: 4.8vw;
            @include mq($pc) {
                font-size: 1.5rem;
                line-height: 1.5rem;
                text-align: left;
                color: #fff;
                padding-top: 1.1vw;
                
            }
            
        }
        &__text {
            margin: 0 auto;
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 2rem;
            text-align: left;
            color: #fff;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            padding-top: 4.8vw;
            @include mq($pc) {
                width: 28.1vw;
                margin: 0;
                padding-top: 1.6vw;
                
            }
            
        }
    }

    .voice {
        margin: 0 auto;
        position: relative;
        padding-bottom: 19.2vw;
        @include mq($pc) {
            padding-bottom: 7.6vw;
        }
        &__container {
            width: 72.5vw;
            margin: 0 auto;
            @include mq($pc) {
                width: 65.3vw;
                margin: 0 auto;
                padding-top: 0.2vw;
            }
        }
        &__title {
            font-family: "EB Garamond";
            font-weight: bold;
            font-size: 1.875rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: center;
            color: #000;
            padding-top: 14.3vw;            
            @include mq($pc) {
                font-size: 2.8125rem;
                letter-spacing: 0.05em;
                line-height: 2rem;
                text-align: center;
                color: #000;
                padding-top: 6.2vw;
            }
        }
        &__titleSerif {
            font-family: "Noto Serif JP";
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: center;
            color: #000;
            padding-top: 0.5vw;
            @include mq($pc) {
                font-size: 1.25rem;
                letter-spacing: 0.05em;
                line-height: 2rem;
                text-align: center;
                color: #000;
                padding-top: 1.3vw;
            }
        }
        &__slider {
            visibility: hidden;
            padding-top: 8.2vw;
            @include mq($pc) {
                width: 65.3vw;
                display: flex;
                justify-content: space-between;
                padding-top: 1.5rem;
                margin: 0 auto;
            }
        }
        &__slider.slick-initialized {
            visibility: visible;
        }
        .slick-prev, .slick-next {
            background-color: #00AFBF;
            color: #ffffff;
        }
        &__slide {
            aspect-ratio: 280 / 344;
            background-color: #DBF7F9;
            margin: 0 auto;
            @include mq($pc) {
                aspect-ratio: 304 / 390;
                width: 301px;
                margin: 0;
                margin-top: 0.8vw;
                margin-right: 38px;
            }
        }
        &__slideImagePc {
            display: flex;
            width: 33%;
            margin: 6.4vw auto 0;
            padding-top: 1vw;
            padding-left: 3.3vw;
            @include mq($pc) {  
                display: flex;
                margin: 2vw auto 0;
                padding-top: 0.6vw;
                padding-left: 0;
            }
        }
        &__slideName {
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 0.875rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: center;
            color: #000;
            padding-top: 0.5vw;
            padding-left: 0.7vw;
            @include mq($pc) {
                font-size: 0.9375rem;
                letter-spacing: 0.05em;
                line-height: 2rem;
                text-align: center;
                color: #000;
                padding-top: 0.2vw;
                padding-left: 0;
                
            }       
        }
        &__slideText {
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1.75rem;
            text-align: left;
            color: #000;
            width: 64.1vw;
            padding-top: 2.5vw;
            margin: 0 auto;
            @include mq($pc) {
                font-size: 1rem;
                line-height: 1.75rem;
                text-align: left;
                color: #000;
                width: 17.9vw;
                padding-left: 0;
                padding-top: 0.5vw;     
            }
        }
    }

    .faq {
        margin: 0 auto;
        padding-bottom: 8.2vw;
        background: linear-gradient(#f4ffe8 0%, #c6f0fe 100%);
        &__title {
            font-family: "EB Garamond";
            font-weight: bold;
            font-size: 1.875rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: center;
            color: #000;
            padding-top: 9.4vw;            
            @include mq($pc) {
                font-size: 2.8125rem;
                letter-spacing: 0.05em;
                line-height: 2rem;
                text-align: center;
                color: #000;
                padding-top: 3.4vw;
            }
        }
        &__titleSerif {
            font-family: "Noto Serif JP";
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: center;
            color: #000;
            padding-top: 0.5vw;
            @include mq($pc) {
                font-size: 1.25rem;
                letter-spacing: 0.05em;
                line-height: 2rem;
                text-align: center;
                color: #000;
                padding-top: 1.3vw;
            }
        }
        &__container {
            width: 91.7vw;
            margin: 8.4vw auto;
            @include mq($pc) {
                width: 40vw;
                margin: 0 auto;
                padding-top: 2.6vw;
            }
        }
        &__list {
            background-color: #ffffff;
            font-family: "Noto Serif JP";
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 1.75rem;
            text-align: left;
            color: #444;
            margin: 0 auto 5.3vw;
            @include mq($pc) {
                margin: 0 auto 1.5vw;
            }
        }
        &__question::before {
            content: "Q.";
            font-family: "EB Garamond";
            font-weight: 500;
            font-size: 1rem;
            letter-spacing: 0.05em;
            line-height: 2rem;
            text-align: left;
            color: #444;
            padding-right: 1vw;
        }
        &__question {
            width: 83.3vw;
            margin: 0 auto;
            display: flex;
            padding-top: 4.3vw;
            padding-bottom: 3.3vw;
            position: relative;
            @include mq($pc) {
                width: 36.7vw;
                padding-top: 1.6vw;
                padding-bottom: 0.8vw;
            }
        }
        &__question::after {
            font-family: "Font Awesome 5 Free";
            content: '\f0d7';
            font-weight: 900;
            font-size: 1.25rem;
            position:absolute;
            top: 22%;
            right: 0;
            @include mq($pc) {
                top: 36%;
            }
        }
        &__question.active::after {
            font-family: "Font Awesome 5 Free";
            content: '\f0d8';
            font-weight: 900;
            position:absolute;
            top: 22%;
            right: 0;
            @include mq($pc) {
                top: 38%;
            }
        }
        &__answer::before {
            content: "A.";
            font-family: "EB Garamond";
            font-weight: 500;
            font-size: 1rem;
            line-height: 2rem;
            text-align: left;
            color: #444;
            padding-right: 6.1vw;
            @include mq($pc) {
                padding-left: 0.2vw;
                padding-right: 2vw;
            }
        }
        &__answer {
            display: flex;
            width: 83.3vw;
            margin: 0 auto;
            font-family: "Noto Serif JP";
            font-weight: 500;
            font-size: 1rem;
            letter-spacing: -0.06em;
            line-height: 1.75rem;
            text-align: left;
            color: #000;
            padding-bottom: 7.4vw;
            @include mq($pc) {
                width: 37vw;
                padding-top: 0.2vw;
                padding-bottom: 1.4vw;
            }
        }
    }

    .footer {
        position: relative;
        background-color: #0071CE;
        aspect-ratio: 390 /165;
        @include mq($pc) {
            aspect-ratio: 1500 / 104;
        }
        &__container {
            @include mq($pc) {
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                padding-top: 2vw;
            }
        }
        &__title  {
            font-family: Marcellus;
            font-weight: normal;
            font-size: 1.75rem;
            letter-spacing: 0.2em;
            color: #fff;
            text-align: center;
            padding-top: 6.1vw;
            @include mq($pc) {
                width: 28.6vw;
                font-family: Marcellus;
                font-weight: normal;
                font-size: 2rem;
                letter-spacing: 0.2em;
                text-align: left;
                color: #fff;
                padding-top: 0;
                padding-left: 2.1vw;
                
            }
        }
        &__nav {
            width: 76.9vw;
            margin: 0 auto;
            @include mq($pc) {
                width: 28.8vw;
                margin: 0;
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            padding-top: 6.1vw;
            @include mq($pc) {
                padding-top: 0;
                line-height: 3.5em;
                width: 22.8vw;
            }
        }
        &__item {
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 0.75rem;
            text-align: left;
            color: #fff;
            @include mq($pc) {
                font-family: "Noto Serif JP";
                font-weight: normal;
                font-size: 0.875rem;
                text-align: center;
                color: #fff;
                
                
            }
        }
        &__copyright {
            font-family: "Noto Serif JP";
            font-weight: normal;
            font-size: 0.6875rem;
            text-align: center;
            color: #fff;
            padding-top:6.4vw;
            @include mq($pc) {
                font-family: "Noto Serif JP";
                font-weight: normal;
                font-size: 0.75rem;
                text-align: center;
                color: #fff;   
                padding-top: 1.5vw;
                padding-left: 4.8vw;   
            }
        }
        &__toTop {
            position: absolute;
            top: -10vw;
            right: 4.1vw;
            background-color: #0071CE;
            width: 10.2vw;
            height: 10.2vw;
            @include mq($pc) {
                top: -3.4vw;
                right: 10vw;
                width: 3.5vw;
                height: 3.5vw;
            }
        }
        .fa-arrow-up {
            position: absolute;
            color: #ffffff;
            width: 3.5vw;
            height: 4.1vw;
            top: 3vw;
            left: 3.3vw;
            @include mq($pc) {
                width: 1.5vw;
                height: 1.75vw;
                top: 1.1vw;
                left: 1.1vw;
            }
        }

    } 

}