/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  line-height: 1.5em;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body .mainVisual {
  position: relative;
  background-image: url("../images/mainVisual_sp.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 390/450;
}
@media screen and (min-width: 768px) {
  body .mainVisual {
    background-image: url("../images/mainVisual_pc.png");
    aspect-ratio: 1500/720;
  }
}
body .mainVisual__title {
  position: absolute;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: Marcellus;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: 0.2687rem;
  text-align: center;
  color: #000;
}
@media screen and (min-width: 768px) {
  body .mainVisual__title {
    font-size: 1.875rem;
    top: 1.75rem;
  }
}
body .mainVisual__productName {
  max-width: 75rem;
  position: absolute;
  z-index: 1;
  top: 26.5rem;
  font-family: Marcellus;
  font-weight: normal;
  font-size: 2.5625rem;
  letter-spacing: 0.3em;
  color: #000;
  padding-left: 1.375rem;
  line-height: 2.8125rem;
}
@media screen and (min-width: 768px) {
  body .mainVisual__productName {
    top: 17.3125rem;
    left: 12.5rem;
    font-size: 3.125rem;
    line-height: 3.875rem;
  }
}
body .mainVisual__productName-serif {
  position: absolute;
  width: 18.25rem;
  top: 0.8125rem;
  padding-top: 5.125rem;
  padding-left: 0.0625rem;
  font-family: "Noto Serif JP";
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 0.3em;
  color: #000;
}
@media screen and (min-width: 768px) {
  body .mainVisual__productName-serif {
    width: 23.9375rem;
    top: 2.625rem;
    left: 1.375rem;
    font-size: 1.5625rem;
  }
}
body .purchase {
  width: 22.375rem;
  text-align: center;
  margin: 9.8125rem auto 3.25rem;
  background-color: #F0F4FF;
  padding: 1.25rem 1.875rem 0.75rem;
}
@media screen and (min-width: 768px) {
  body .purchase {
    width: 62.5rem;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3.0625rem;
    padding-bottom: 1.5625rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  body .purchase__contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
body .purchase__title {
  font-family: "Noto Serif JP";
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  color: #111;
}
@media screen and (min-width: 768px) {
  body .purchase__title {
    font-family: "Noto Serif JP";
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1.0625rem;
    padding-top: 0.125rem;
  }
}
body .purchase__price {
  font-family: "Noto Serif JP";
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  color: #111;
  padding-top: 0.4375rem;
}
@media screen and (min-width: 768px) {
  body .purchase__price {
    font-size: 1rem;
    padding-left: 1.0625rem;
    padding-top: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  body .purchase__list {
    display: flex;
    justify-content: space-between;
    width: 44.375rem;
    padding-left: 2.875rem;
    padding-top: 0.1875rem;
  }
}
body .purchase__item {
  display: flex;
  width: 18.75rem;
  height: 3.5625rem;
  border-radius: 1.8125rem;
  margin: 1.375rem auto;
  align-items: center;
  justify-content: center;
  padding-top: 0.3125rem;
  font-family: "Noto Serif JP";
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
}
body .purchase__item-blue {
  background-color: #46C4DB;
}
body .purchase__item-green {
  background-color: #5DD5AB;
}
body .product {
  background-image: url(../images/product.png);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 390/680;
}
@media screen and (min-width: 768px) {
  body .product {
    position: relative;
    background-image: url(../images/product_pc.png);
    aspect-ratio: 1500/550;
  }
}
@media screen and (min-width: 768px) {
  body .product__container {
    position: absolute;
    top: 4.9375rem;
    right: 15.5rem;
  }
}
body .product__title {
  font-family: "EB Garamond";
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  color: #fff;
  padding-top: 53px;
}
@media screen and (min-width: 768px) {
  body .product__title {
    font-size: 2.375rem;
    line-height: 2.375rem;
    text-align: left;
    color: #fff;
  }
}
body .product__titleSerif {
  font-family: "Noto Serif JP";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  padding-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  body .product__titleSerif {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
    color: #fff;
  }
}
body .product__text {
  width: 22.375rem;
  margin: 0 auto;
  font-family: "Noto Serif JP";
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2rem;
  text-align: left;
  color: #fff;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  body .product__text {
    width: 26.375rem;
    margin: 0;
    padding-top: 1.5rem;
  }
}
body .voice__container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body .voice__container {
    width: 62.5rem;
    padding-top: 3.0625rem;
  }
}
body .voice__title {
  font-family: "EB Garamond";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-align: center;
  color: #000;
  padding-top: 53px;
}
@media screen and (min-width: 768px) {
  body .voice__title {
    font-size: 45px;
    letter-spacing: 0.05em;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding-top: 41px;
  }
}
body .voice__titleSerif {
  font-family: "Noto Serif JP";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-align: center;
  color: #000;
  padding-top: 2px;
}
@media screen and (min-width: 768px) {
  body .voice__titleSerif {
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 32px;
    text-align: center;
    color: #000;
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  body .voice__list {
    width: 980px;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    margin: 0 auto;
  }
}
body .voice__carousel {
  width: 280px;
  aspect-ratio: 280/344;
  background-color: #DBF7F9;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body .voice__carousel {
    width: 300px;
    aspect-ratio: 300/388;
    margin: 0;
    margin-top: 13px;
  }
}
body .voice__carouselImageSp {
  display: flex;
  margin: 31px auto 0;
  padding-top: 29px;
  padding-left: 9px;
}
@media screen and (min-width: 768px) {
  body .voice__carouselImageSp {
    display: none;
  }
}
body .voice__carouselImagePc {
  display: none;
}
@media screen and (min-width: 768px) {
  body .voice__carouselImagePc {
    display: flex;
    margin: 31px auto 0;
    padding-top: 10px;
    padding-left: 0;
  }
}
body .voice__carouselName {
  font-family: "Noto Serif JP";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 32px;
  text-align: center;
  color: #000;
  padding-top: 2px;
  padding-left: 1px;
}
@media screen and (min-width: 768px) {
  body .voice__carouselName {
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 32px;
    text-align: center;
    color: #000;
  }
}
body .voice__carouselText {
  font-family: "Noto Serif JP";
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #000;
  width: 263px;
  padding-top: 9px;
  padding-left: 13px;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  body .voice__carouselText {
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #000;
    width: 272px;
    padding-left: 16px;
  }
}/*# sourceMappingURL=style.css.map */